{% extends "base.html" %}
{% load static %}



{% block content %}

<div class="container">
    <h1 class="blog-title">Welcome to the Tech Blog</h1>
    <p class="blog-description">
    <h3>Explore the latest tech articles, tutorials, and news.</h3>
    </p> <!-- Display recent blog posts -->
    <h2>Recent Posts</h2>
    <ul class="post-list"> {% for post in posts %}
        <li><a href="{% url 'post_detail' post.id %}" class="post-link">{{ post.title }}</a></li> {% endfor %}
    </ul> <!-- Display categories -->
    <h2 class="section-title">Categories</h2>
    <ul class="category-list">
        {% for category in categories %}
        <li><a href="{% url 'category_detail' category.id %}" class="category-list">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
</div>

{% endblock %}